name: Build

on:
  push:
    branches: [ develop ]

jobs:

  build:
    runs-on: windows-latest

    env:
      Solution_Name: DalamudDoot

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Download Dalamud
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: Move latest build to Release
      run: Move-Item -Path ./DalamudDoot/bin/x64/Release/DalamudDoot/* -Destination ./data -Force

    - name: Commit latest build
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "Update Build"
        file_pattern: "./data/*.json ./data/*.zip"
